<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Allan" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Coustard" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Server Error</title>
    </head>
    <body>
        <h1>Whoops.</h1>
        <h2>There was an error:</h1>
        <h2><%= details %></h2>
    </body>
</html>