<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <h1>Server-Side Test Orchestration</h1>
        <h2><a href="/input/client">Client</a></h2>
        <h2><a href="/input/debug">Debug</a></h2>
    </body>
</html>