html {
    height: 100%;
    position: relative;
}
body {
    background-color: #364554;
    margin: 0px;
}
a:link {
   text-decoration:  none;
}

h1 {
    color: #FF5D55;
    display: block;
    font-family: 'Sanchez', serif;
    font-size: 20vmin;
    margin-bottom: 0;
    text-align: center;
}
h2 {
    color: white;
    font-family: 'Allan',  cursive;
    font-size: 2em;
    margin: 0;
    text-align: center;
}
.rect-btn {
    background-color: #ff5d55;
    border-width: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    display: block;
    margin: 2em auto;
    min-width: 200px;
    transition: background-color .3s;
    width: 25%;
    text-align: center;
    color:white;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    padding: 12px 24px;
}

.rect-btn:focus, .rect-btn:hover {
    background-color: #e5534c;
}

a.icons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}
.fa {
    color:#FF5D55;
    font-size: 7em;
}
.fa:focus, .fa:hover {
    color: #e5534c;
}

.slick-list {
    height: auto !important;
}
.slick-slide {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px;
}
.slick-active {
      left: 0 !important;
      border: none !important;
      margin: 0 auto !important;
      height: initial !important;
      clip: initial !important;
      overflow: visible !important;
      padding: inherit !important;
      position: inherit !important;
    }


.about {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
   
}

p {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size:  1em;
    margin-top: 0;
}

span {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size:  1em;
    margin-top: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }



#searchField {
    width: 80%;
    height: 54px;
}

#searchButton {
    width: 20%;
    color: white;
    background: #ff5d55;
    border: 0;
    height: 54px;
    text-decoration: none;
}