<html>
    <head></head>
    <body>
        <form action="run">
            <% for (var i = 0; i < frameworks.length; i++) {%>
                <input type="checkbox" name="<%=frameworks[i].id%>"><%=frameworks[i].name%></input>
            <%}%>
        </div>
        <input type="submit" value="Submit">
        </form>
    </body>
</html>