<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/navigation.css">
        <style>
            span {
                overflow-wrap: normal;
            }
        </style>
    </head>
    <body>
        <%if (typeof error != 'undefined') {%>
            <script>
                //wrapped in setTimeout to let the page finish rendering.
                setTimeout(function() { alert('<%=error%>') }, 1);
            </script>
        <% } else if (typeof report != 'undefined') {%>
        <div><%=report%></div>
        <% } else { %>
            <script>
                //wrapped in setTimeout to let the page finish rendering.
                setTimeout(function() { alert('no error or report defined.') }, 1);
            </script>
        <% } %>
    </body>
</html>